/* DaBrande CSS */
@font-face{
    font-family: 'ProximaNova-Soft';
    src: url('../fonts/ProximaNova-Soft.ttf');
}
@font-face{
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.ttf')
}
@font-face{
    font-family: 'GT-Medium';
    src: url('../fonts/GT-Walsheim-Medium.woff');
}
@font-face{
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/HelveticaNeue-Medium.ttf');
}
@font-face{
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue Light.ttf');
}
@font-face{
    font-family: 'Plain-UltraLight';
    src: url('../fonts/Plain-Ultralight.woff2');
}
@font-face{
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.otf');
}
:root{
    --smiley-color: #fd6d6d;
}
body{
    overflow-x: hidden;
}
::selection{
    background: rgba(204, 204, 204, 0.1);
}
::-moz-selection{
    background: rgba(204, 204, 204, 0.1);
}
.container-wide{
    max-width: 95%;
    margin: auto;
    width: 100%;
}
.unstyled-list{
    list-style-type: none;
    margin: 0;
    padding: 0;;
}
a{
    text-decoration: none !important;
    outline: none !important;
}
input, button, textarea, select{
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.row{
    margin: 0;
}
.rounded-link{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    font-family: 'ProximaNova-Semibold';
    -webkit-transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.rounded-link .arrow{
    display: inline-block;
    border-radius: 50%;
    border: 2.5px solid #1E1E1E;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    position: relative;
    -webkit-transition: 0.5s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.5s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.rounded-link .arrow .top{
    position: absolute;
    left: 23px;
    width: 2.5px;
    height: 12px;
    background: #1E1E1E;
    display: inline-block;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 12.5px;
    -webkit-transition: 0.5s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.5s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.rounded-link .arrow .bottom{
    position: absolute;
    left: 23px;
    width: 2.5px;
    height: 12px;
    background: #1E1E1E;
    display: inline-block;
    -webkit-transform: rotate(135deg);
    transform: rotate(45deg);
    top: 19.5px;
    -webkit-transition: 0.5s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.5s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.rounded-link:hover{
    color: #1E1E1E;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
}
.rounded-link:hover .arrow{
    background: #1E1E1E;
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
}
.rounded-link:hover .arrow .top, .rounded-link:hover .arrow .bottom{
    background: #FFF;
} 
.slick-slide{
    border: none;
    outline: none;
}
/* Site Header */
#site-header{
    padding: 30px 0;
}
#site-header .main-nav{
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    display: -ms-flexbox!important;
    display: -webkit-box!important;
    display: flex!important;
    width: 100%;
}
.logo{
    width: 180px;
}
#site-header .navbar-wrap{
    margin-left: auto;
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
}
#site-header .navbar-wrap ul li{
    display: inline-block;
    margin-right: 30px;;
}
#site-header .navbar-wrap ul li:last-child{
    margin-right: 0;
    margin-left: 80px;
}
#site-header .navbar-wrap ul li a{
    color: #222222;
}
#site-header .navbar-wrap ul li:last-child a{
    padding-left: 20px;
    position: relative;
    display: inline-block;
    z-index: 9;
    -webkit-transition: 0.5s cubic-bezier(0.02, 0.48, 0, 1.38);
    transition: 0.5s cubic-bezier(0.02, 0.48, 0, 1.38);

}
#site-header .navbar-wrap ul li:last-child a:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    top: 7px;
    left: 0;
    -webkit-transition: 0.5s cubic-bezier(0.02, 0.48, 0, 1.38);
    transition: 0.5s cubic-bezier(0.02, 0.48, 0, 1.38);
}
#site-header .navbar-wrap ul li:last-child a:hover{
    color: #FFF;
}
#site-header .navbar-wrap ul li:last-child a:hover:before{
    width: 120%;
    height: 120%;
    border: none;
    border-radius: 0;
    top: -10%;
    background: #000;
    z-index: -1;
    left: -1.5%
}
/* Site Header Ends */

/*--- Site Loader ---*/
.site-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    z-index: 999;
    top: 0;
    left: 0;    
    font-size: 24px;
    align-content: center;
    flex-direction: column;
}
.site-loader .loader-left, .site-loader .loader-right{
    background-color: #000;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97)
}
.site-loader .loader-left{
    left: 0;
}
.site-loader .loader-right{
    right: 0;
}
.site-loader.loaded .loader-left{
    transform: translateY(-100%);
}
.site-loader.loaded .loader-right{
    transform: translateY(100%);
}
.site-loader .loader-left span, .site-loader .loader-right span{
    font-size: 600px;
    position: absolute;
    font-family: 'Plain-UltraLight';
    color: #0a0a0a;
    transform: translate(-50%, -50%) scaleX(1.1);
    height: 100%;
    top: 50%;
    display: inline-block;
    opacity: 0;
    transition: 0.8s;
}
.site-loader.half-loaded span{
    opacity: 1;
}
.site-loader .loader-left span{
    left: 100%;
}
.site-loader .loader-right span{
    left: 0;
}
.site-loader .loader-wait{
    color: #4f4f4f;
    width: 196px;
    font-family: 'ProximaNova-Semibold';
    z-index: 9;
}
.site-loader .loader-wait span:nth-child(1){
    animation: fadeDots 2s ease infinite;
}
.site-loader .loader-wait span:nth-child(2){
    animation: fadeDots 2s ease infinite;
    animation-delay: 2s;
}
.site-loader .loader-wait span:nth-child(3){
    animation: fadeDots 2s ease infinite;
    animation-delay: 4s;
}
@keyframes fadeDots{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.site-loader ul{
    font-family: 'Gilroy-ExtraBold';
    margin-bottom: 0;
    font-size: 60px;
    height: 80px;
    width: 196px;
    position: relative;
}
.site-loader ul li{
    display: block;
    opacity: 0;  
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s ease;
}
.site-loader ul, .site-loader .loader-wait{
    transition: 0.5s linear;
}
.site-loader.half-loaded ul, .site-loader.half-loaded .loader-wait{
    opacity: 0;
}
/*--- Site Loader Ends ---*/

/* Homepage */
.home--landing{
    padding: 100px 0;
    position: relative;
}
.home--landing .gray-block{
    position: absolute;
    width: 30%;
    height: 60%;
    background: #e8f9ff;
    z-index: -1;
    margin: auto;
    top: 0;
    bottom: 0;
}
.home--landing h1{
    font-size: 74px;
    font-family: 'GT-Medium';
    margin-bottom: 40px;
    color: #000;
    line-height: 74px;
    color: #222222;
}
.home--landing h1 > span{
    color: #cccccc;
    font-family: 'ProximaNova-Semibold';
}
.home--landing p{
    font-family: 'ProximaNova-Semibold';
    font-size: 22px;
}
.landing--content, .landing-slider-outer{
    width: 50%;
}
.landing-slider-outer{
    padding-left: 30px;
    outline: none !important;
}
.landing-slider{
    cursor: -webkit-grab;
    cursor: grab;    
}
.landing-slide{
    outline: none !important;
}
.landing-slider-outer img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}
.home--services{
    overflow: hidden;
}
.home--services h2, .site-title{
    font-family: 'ProximaNova-Semibold';
    font-size: 60px;
    margin-bottom: 40px;
    color: #000;
}
.home--services{    
    background: #060606;
    padding: 5vw 0 0;
}
.home--services .row{    
    color: #FFF;
}
.home--services .small-title, .home--services h2{
    color: #FFF;
}
.small-title{
    font-family: 'ProximaNova-Semibold';
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.small-title .bar{
    width: 40px;
    background: #000;
    height: 1px;
    display: inline-block;
    margin-right: 10px;
}
.swiper-slide {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
  }
  .landing-slider-outer .swiper-container{
      -webkit-box-shadow: 12px 20px 20px 1px #efefef;
              box-shadow: 12px 20px 20px 1px #efefef;
  }
.clients{
    overflow: hidden;
    padding: 0 0 5vw 0;
}
.clinet-slide{
    outline: none;
}
.clients .site-title{
    margin-bottom: 10px;
}
.clients .slide-bgimg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: -webkit-grab;
    cursor: grab;
}
.client-col {
    padding: 0 20px;
}
.client-col img{
    width: 70%;
    display: block;
    margin: auto;
    height: 180px;
}
.home--services h3{
    font-family: 'ProximaNova-Semibold';
    margin-bottom: 40px;
    font-size: 36px;
}
.home--services .small-title .bar{
    background: #fff;
}
.service-content p {
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 15px;
    font-family: 'ProximaNova-Soft';
}
.service-content {
    color: #bdbdbd;
    position: relative;
    z-index: 99;
    width: 90%;
    margin: auto;
    padding: 50px 15px;
    -webkit-transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.service-content ul {
    font-family: 'ProximaNova-Semibold';    
    margin-top: 36px;
    font-size: 18px;
}
.service-content ul li{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #1d1d1d;
    -webkit-transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.service-content ul li:last-child{
    border-bottom: none;
}
.service-col{
    position: relative;
    width: 33.333%;    
    overflow: hidden;
}
.service-col a > img{
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.1;
    -o-object-position: 0;
       object-position: 0;
    opacity: 0;
    -webkit-transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.service-col a:hover > img{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.1;
}
.service-col a:hover .service-content{
    color: #FFF;
}
.service-col a:hover  ul li:not(:last-child){
    border-bottom-color: #383838;
}
.service-count {
    position: absolute;
    font-family: 'GT-Medium';
    font-size: 140px;
    color: #191919;
    top: -8%;
    left: 10px;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
}
.service-col a:hover .service-count{
    color: #656565;
}
.recent-work, .home-about{
    padding: 5vw 0 0;
    position: relative;
}
.home-about .gray-bar{    
    top: 0;
    right: 0;
    width: 40vw;
    height: 30vw;    
}
.gray-bar{
    z-index: -1;
    background: #f7f7f7;
    position: absolute;
}
.home-about-img{
    width: 48%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    overflow: hidden;
}
.home-about-img > img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.home-about-img:hover {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
}
.recent-work .pr .work-image:hover{
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
.home-about-img:hover img, .recent-work .pr .work-image:hover img{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.home-about .about-content{
    width: 50%;
    margin-left: auto;
    padding: 0 80px;
    font-size: 24px;
    font-family: 'ProximaNova-Soft';
}
.home-about .about-content a.rounded-link{
    margin-top: 30px;
}
.recent-work{
    padding: 6vw 0 4vw;
}
.recent-work .gray-bar{
    top: 0;
    left: 0;
    width: 30vw;
    height: 40vw;
}
.recent-work .pr{
    padding: 0 30px;
    background: #FFF;
    transition: 0.5s ease;
}
.recent-work .pr .work-image{
    width: 420px;
    height: 418px;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.recent-work .pr.sliding-left{
    transform: skewX(1deg);
}
.recent-work .pr.sliding-right{
    transform: skewX(-1deg);
}
.recent-work .pr .work-image img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.p-title{
    font-family: 'ProximaNova-Semibold';
    font-size: 28px;
    margin: 0 0 5px 0;
    color: #1E1E1E;
}
.p-category{
    font-family: 'ProximaNova-Soft';
    color: #989898;
}
.recent-work-link{
    text-align: center;
    margin-top: 50px;
}
.recent-work .slide-controls button {
    background: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}
.recent-work .slide-controls{
    padding-bottom: 50px;
    justify-content: flex-end;
}
.recent-work .slide-controls button img{
    width: 50px;
}
.recent-work .slide-controls button.slider-prev{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    margin-right: 20px;
}
.home-contact{
    text-align: center;
    padding-bottom: 4.5vw;
}
.home-contact .container-wide{
    padding-top: 4vw;
    border-top: 2px solid #000;
}
.home-contact .site-title{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.home-contact p{
    font-size: 24px;
    font-family: 'ProximaNova-Soft';
    padding:0 10%;
}
.home-contact .rounded-link{
    margin-top: 30px;
}
.smile-emoji{
    display: inline-block;
    border: 2px solid var(--smiley-color);;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    vertical-align: text-bottom;
    position: relative;
}
.smile-emoji .eyes{
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 5px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
    vertical-align: top;
    margin-top: 20px;
}
.smile-emoji .eyes .eye{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--smiley-color);
    position: relative;
}
.smile-emoji .eyes .eye:after{
    content: '';
    position: absolute;
    height: 90%;
    border-radius: 50%;
    width: 90%;
    background: #FFF;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.smile-emoji.happy .eyes .eye:after{
    bottom: -4px;
}
.mouth {
    width: 55%;
    height: 25%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 16%;
    left: 50%;
    margin-left: -26%;
    background: var(--smiley-color);
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mouth:after {
    content: '';
    position: absolute;
    left: -1.5%;
    right: 0;
    bottom: 5px;
    width: 103%;
    background: #fff;
    height: 100%;
    border-bottom-right-radius: 100px;
    margin: auto;
    border-bottom-left-radius: 100px;
}
.smile-emoji:hover .eye:nth-child(2){
    -webkit-animation: wink 0.6s;
            animation: wink 0.6s;
}
@-webkit-keyframes wink {
  0%{ height: 14px; margin-top: 0; }
  30% { height: 3px; margin-top: 8px; }
  70% { height: 3px; margin-top: 8px; }  
  100% { height: 14px; margin-top: 0; }
}
@keyframes wink {
  0%{ height: 14px; margin-top: 0; }
  30% { height: 3px; margin-top: 8px; }
  70% { height: 3px; margin-top: 8px; }  
  100% { height: 14px; margin-top: 0; }
}
/* Homepage Ends */

/* Work */
section.work{
    padding-top: 50px;
}
.work-categories-tab{
    position: absolute;
    font-family: 'ProximaNova-Semibold';
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
}
.work-categories-tab li{
    display: inline-block;
    cursor: pointer;
    color: #b5b5b5;
}
.work-categories-tab li:not(:last-child){
    margin-right: 30px;    
}
.work-categories-tab li.active{
    color: #000;
}
.portfolio-row{
    margin-top: 30px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding-top: 30px;
}
.portfolio-row div[class*="col-"]{
    border-top: 1px solid #ebebeb;
    padding: 0;
}
.portfolio-col{
    position: relative;
    text-align: center;
    padding: 30px 30px 100px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    -webkit-transition: 2s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 2s cubic-bezier(0.74, 0.12, 0, 0.97);
    width: 100%;
    top: 0;
    left: 0;
}
.portfolio-col .portfolio-background{
    position: absolute;
    height: 0%;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: -1;
    -webkit-transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.portfolio-col:hover .portfolio-background, .portfolio-col.view .portfolio-background{
    border-radius: 0;
    height: 150%;
}
.portfolio-col .portfolio-title{
    font-size: 30px;
    font-family: 'GT-Medium';    
}
.pr-image{
    padding: 30px;
    -webkit-transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.portfolio-category{
    font-family: 'ProximaNova-Semibold';
    font-size: 16px;
    color: #131313;
    letter-spacing: 1px;
    position: absolute;
    bottom: 45px;
    text-align: center;
    width: 100%;
    left: 0;
}
.portfolio-title, .portfolio-category{
    color: #ccc;
    /* opacity: 0; */
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
    transition: 0.8s cubic-bezier(0.74, 0.12, 0, 0.97);
}
.portfolio-col:hover .portfolio-title, .portfolio-col:hover .portfolio-category{
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    color: #000;
}
.portfolio-row div[class*="col-"]:not(:nth-child(4n+0)){
    border-right: 1px solid #ebebeb;
}
.portfolio-col:hover .pr-image{
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
.portfolio-col.view{    
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 40%;
}
.portfolio-col.view .portfolio-background{
    height: 100%;
}
/* Work  Ends*/

/* Single Portfolio */
.project-section{
    padding: 80px 0;
}
.project-content{
    max-width: 80%;
    margin: auto;
}
.project-image{
    height: 450px;
    background: #f7f7f7;
    margin: 50px 0;
}
.project-title{
    font-family: 'ProximaNova-Semibold';
    font-size: 60px;
    margin-bottom: 30px;
    color: #222222;
}
.project-content p{
    font-size: 18px;
    line-height: 32px;
    font-family: 'ProximaNova-Soft';
    color: #1d1d1d;
}
.project-content h4{
    font-family: 'ProximaNova-Semibold';
    font-size: 20px;
}
.service-list li{
    font-size: 16px;
    display: inline-block;
    position: relative;
}
.service-list li:not(:first-child){
    padding-left: 30px;
}
.service-list li:not(:first-child):after{
    content: '\2022';
    position: absolute;
    left: 10.5px;
    font-size: 20px;
    line-height: 22px;
}

/* Single Portfolio Ends */

/*---- About Page ----*/
.about header{
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}
.about-landing{
    padding: 200px 0 240px;
    background: #000;
    text-align: center;
    color: #FFF;
    position: relative;
    z-index: 99;
    overflow: hidden;
}
.about-landing > img{
    position: absolute;
    left: -10%;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 120%;
    height: 120%;
    opacity: 0.08;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    max-width: none;
    max-height: none;
    -webkit-transition: 0.4s -webkit-transform cubic-bezier(0, 0.31, 0.26, 1.03);
    transition: 0.4s -webkit-transform cubic-bezier(0, 0.31, 0.26, 1.03);
    transition: 0.4s transform cubic-bezier(0, 0.31, 0.26, 1.03);
    transition: 0.4s transform cubic-bezier(0, 0.31, 0.26, 1.03), 0.4s -webkit-transform cubic-bezier(0, 0.31, 0.26, 1.03);
}
.small-title-ab{
    font-family: 'HelveticaNeue-Light';
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
.about-slide{
    font-size: 40px;
    font-family: 'HelveticaNeue-Medium';
    color: #2b2b2b;
    border: none !important;
    outline: none !important;
}
.about-content{
    margin-top: 50px;
}
.about-title{
    font-family: 'HelveticaNeue-Light';
    font-size: 80px;
}
.about-content svg{
    width: 450px;
    display: block;
    margin: 30px auto 0;
}
.about-quote p{
    margin: 0;
    text-align: center;
    padding: 100px 0;
    font-size: 30px;
    font-family: 'ProximaNova-Soft';
}
.company-quote{
    position: relative;
    top: -11vw;
    background: #000;
    color: #FFF;
    padding: 86px 45px;
    font-size: 26px;
    max-width: 70%;
    margin: auto auto -8vw;
    z-index: 99;
    text-align: center;
}
.company-quote p{
    margin: 0;
    font-family: 'ProximaNova-Soft';
}
.about-content-section{
    background: #FFF;
    position: relative;
    max-width: 70%;
    margin: 70px auto 0 00;
    font-family: 'ProximaNova-Semibold';
    position: relative;
}
.about-content-section h2{    
    margin-bottom: 15px;
    font-size: 50px;
}
.about-content-section p{
    font-size: 20px;
    color: #2c2c2b;
    font-family: 'ProximaNova-Soft';
    line-height: 42px;
}
.fade-title{
    position: absolute;
    font-size: 260px;
    color: #f3f3f3;
    pointer-events: none;
    top: 10%;
    left: 30px;
    line-height: 0;
    width: 200%;
    font-family: 'ProximaNova-Semibold';
}
.team-section{
    position: relative;
    padding: 100px 0;
}
.team-section .fade-title{
    top: 10%;
}
.team-section h2{
    margin-bottom: 15px;
    font-size: 50px;
}
.team-row{
    padding-top: 140px;
}
.team-col{
    width: 22%;
    margin: auto;
    z-index: 9;
    margin-bottom: 80px;
}
.team-col:nth-child(even){
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
}
.team-img {
    height: 420px;
}
.team-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.team-col:hover .team-img img{
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
}
.team-info{
    padding: 15px 20px;
}
.member-name {
    font-family: 'ProximaNova-Semibold';
    font-size: 25px;
}
.member-designation {
    font-family: 'ProximaNova-Soft';
    color: gray;
    font-size: 18px;
}
/*---- About Page Ends ----*/

/* Site Footer */
#main-footer{
    background: #FAFAFA;    
    padding: 100px 0 20px;
    font-family: 'ProximaNova-Semibold';
}
.home #main-footer{    
    margin: 100px 0 0;
}
#main-footer .appr{
    font-family: 'Plain-UltraLight';
    font-size: 65px;
    width: 45%;
    margin-bottom: 100px;
    line-height: 75px;
}
#main-footer .appr #heart{
    width: 50px;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}
#main-footer .row{
    max-width: 90%;
    margin: auto;
}
.footer-logo{
    width: 200px;
    margin-bottom: 15px;
}
#main-footer .copyright{
    text-align: center;
    font-size: 14px;
    font-family: 'HelveticaNeue-Medium';
    color: #b3b3b3;
    margin-top: 50px;
}
#main-footer a{
    color: #222222;
}
#main-footer .tagline{
    color: #000;
}
#main-footer h3{
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;    
}
#main-footer ul li:not(:last-child){
    margin-bottom: 15px;
}
#main-footer div[class*="col-"]:not(:first-of-type):not(:last-of-type){
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 1;
            flex: auto;
    width: auto;
    max-width: 100%;
}
/* Site Footer Ends */


/* Theme Settings */
body.blk-theme{
    color: #efefef;
    background: #020202;
}
.blk-theme .logo > img{
    -webkit-filter: invert(1);
            filter: invert(1);
}
.blk-theme #site-header .navbar-wrap ul li a, .blk-theme .home--landing h1{
    color: #efefef;
}
